<div class="container">
  <h2>Edit Your Profile</h2>

  <%= render 'form' %>

  <%= link_to "Delete your Profile?", @user, :method => :delete, :class => "details", :confirm => "Are you sure?" %>
</div>


