
      <section class="pages">
      <h1 class="aboutheaders">About</h1>
      <p class="descriptions">PatchLearn works to solve a simple problem- searching the internet can be difficult. Afterall, what's more frustrating than searching for hours only to find updated or inaccurate information? Patchlearn gathers only the most relevant information you are searching for. The site allows users to vote on articles to ensure only the highest quality resources are displayed.</p>

      <h2 class="aboutheaders">How does it work?</h2>

      <p class="descriptions">We search for articles on every topic in the world. If you don't see your interest, add it! Our team will get going! Each topic page has a content editor who manages the page. We count on you to help add content, to vote on the articles, and of course to share the site and articles with others!</p>

      <h3 class="aboutheaders">How can you get involved more?</h3>

      <p id="lastdescription" class="descriptions"> We are always looking for content editors! Sign up on our contact page. </p>

      <h4 id="descriptionslogan" class="aboutheaders">Happy Surfing, Happy Posting!</h4>


      <div class="staffmenu">
        <div><p id="aboutheaders" class="staff">Your friends at PatchLearn</p></div>
        <div id="firststaff" class="staffphoto">
          <!-- <img class="staffed" src="assetcoleerikson.jpg"/> -->
          <p class="staff">Cole Erikson</p>
          <p id="staffdescription" class="staff">One crazy Minnesotan!</p>
        </div>
        <div class="staffphoto">
          <!-- <img class="staffed" src="alexweiksnar.jpg"> -->
          <p class="staff staffed ">Alex Weiksnar</p>
          <p id="staffdescription" class="staff">A David Foster Wallace lover</p>
        </div>
      </div>
    </section>


