
<div class="container">
  <div class="row">
    <div class="span12">

      <h2>About PatchLearn</h2>
      <p>PatchLearn is a content submission platform to meet help aggregate and organize existing content on the internet for learning purposes. Incredibly well written and insight information is everywhere on the internet. Finding it and knowing where to start is a little more difficult.

      <p>Our goal is to make finding what to study and the order in which to study it as intuitive as possible.</p>

      <h3>How does it work?</h3>
      <p>The site relies on user submissions for various tiers of a topic. For example, the topic itself, a subtopic within it, and then a specific resource within that. Our hope is enthusists of all kinds are able to submit various topics, subtopics, and resources to PatchLearn easily and quickly.</p>

      <p>The other is that even though several resources are available, we present information to someone learning something new as clearly as possible. Learning something new is difficult enough, no reason you should have to decipher the difficulty of what you're reading, if it's up to date, or if it's quality content.</p>

      <h3>Growth</h3>
      <p>We believe our growth will come in two areas:</p>
      <ol>
        <li>Content - Our site just launched so we're excited to see what's submitted as topics of interest. Now is your chance to make those first marks! The platform will surely change based on meeting the community's needs so monitoring that growth is compelling.</li>
        <li>Features - The site is new and there are some obvious areas for improvement but we're keen to meet our users needs based on use. Not our dreamed up concepts of what we think may be useful.</li>
      </ol>

      <p>We encourage anyone to reach out to us directly if they have any recommendations for the site. Your feedback is very welcome.</p>

      <h3>Thank You</h3>
      <p>If you're reading this you've probably been around our site a bit. We appreciate you taking a moment.</p>

      <p>Thanks!</p>



    </div><!-- Span End -->
  </div><!-- End Row -->
</div><!-- End Container -->



<!-- <section id="actions">
  <div class="container">
    <div class="row">

        <div class="span4">
          <div class="callout">
            <h3>Explore</h3>
            <p>Browse or search for anything you're interested in learning.</p>
          </div>
        </div>

        <div class="span4">
          <div class="callout">
            <h3>Learn</h3>
            <p>Have some expertise in something? Help us grow by adding a resource</p>
          </div>
        </div>

        <div class="span4">
          <div class="callout">
            <h3>Share</h3>
            <p>Have some expertise in something? Help us grow by adding a resource</p>
          </div>
        </div>


    </div><!-- Row End -->
  </div><!-- Container End-->
</section> -->
