<div class="row">
  <section>
    <div class="container">
      <h1 class="pages aboutheaders">Get in Touch with PatchLearn!</h1>
      <p id="contactinformation" class="descriptions">PatchLearn is located in downtown Chicago. Please send us an e-mail by completing the following form.</p>

    <section class="form">
      First name: <input class="contactform" type="text" name="firstname">
      Last name: <input class="contactform" type="text" name="lastname">
      <form name="input" action="html_form_action.asp" method="get">
      Send us a comment: <textarea rows="4" cols="50" class="contactform" name="sample_textarea">Type Here</textarea>
      <input input class="contactform" type="submit" value="Submit">

      </form>
      </form>
    </section>
    </div>
  </section>
</div>
