<div class="container">
  <div class="row">
    <div class="span12">


    <h2>Shoot us a message:</h2>
    <p>We can be reached at <%= mail_to "braintrust@patchlearn.com" %>.</p>




    </div>
  </div>
</div>
