





<div id="maincontainer">

    <div class="exploregroup group">
            <h3 id="mainsearch">Explore!</h3>

          <ul class="listgroup">
<% @categories.each do |category| %>
              <li><%= link_to category.title, categories_url %></li>
            <% end %>
          </ul>
    </div>
  </div>


    <p id="description">PatchLearn puts learning at your fingertips! All of you have to do is search a topic of interest and you will find articles customized for you. We also encourage you to submit articles to help grow our database of knowledge! Happy surfing, Happy posting!</p>


