<!-- <div id="home-banner-overlay"></div> -->
<section id="home-banner">
  <div class="lead-intro">
    <h1 class="cursive">Welcome to PatchLearn</h1>
    <h3>Share your favorites, learn a thing or two yourself</h3>
  </div>
</section>
