<div class="container">
  <h1><%= @subtopic.title %></h1>
  <p>If you've recently submitted an article it should be near the bottom of this list.</p>

  <p>If you think your submission should be near the top, tell your friends, share it with your social networks, or blog about it.</p>

  <table class="table">
    <tr>
      <th>Rank</td>
      <th>Article Title</td>
    </tr>

    <% @subtopic.articles.where(:level => params[:level]).each do |article| %>

    <tr>
      <td><%= article.id %></td>
      <td><%= link_to article.title, article.url %></td>

    </tr>

    <% end %>
  </table>

</div>
