/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.indexed {
  background-color: #BCD3DE;
  background-size: 100%;
  font-size: 15px;
  margin-top: -40px;
  padding-top: 50px;
}

.indexed-container {
  background-color: #fff;
}

ol.welcome-list {font-weight:bold; margin: 0 0 0 25px;}

.cursive {font-family: 'Courgette',cursive; font-weight: lighter;}
section {background-color: #BCD3DE; padding: 0 0 25px;}

.pink {color:#F57676;}

.clear {clear:both;}

.subtopic-intro {
  border-radius: 3px;
  padding: 20px;
}

.content {margin-top: 40px;}

.fyi {background-color:#eee; border:#ccc thin solid; margin-top: 25px; padding: 10px;}


#subtopic-title, #subtopic-footer {border-bottom: 1px solid #DDDDDD; margin: 0 0 10px; padding: 10px;}

.vote-module {}
.vote-button {background: url(vote.png) no-repeat #efefef 0 1px; border: none; border-radius: 50px; height: 50px; width: 50px;}
.vote-button:hover {background-color:#54A9A3; color:#fff;}
.voted {background-color:#54A9A3; color:#fff;}
.voted-article {background: url(vote.png) no-repeat #54A9A3 0 1px; border: none; border-radius: 50px; height: 50px; width: 50px; color:#fff}

.subtopic-content {border-bottom:#efefef thin solid; padding: 15px;}
.subtopic-content p {font-style: italic;}

.subtopic-description {width: 565px;}

#subtopic-aside {  }
#subtopic-aside > ul {list-style-type: none; margin-bottom: 20px;}
#subtopic-aside > ul li, .module-style > ul li {border-bottom: thin dotted #ccc;}
#subtopic-aside > ul li:nth-last-child(1) {border-bottom: none;}
#subtopic-aside > ul li a {display: block; padding: 5px; transition: background-color 150ms ease 0s;}
#subtopic-aside > ul li:hover a {background-color: #eee;}

.radius {border-radius: 3px; -webkit-border-radius: 3px;}


.p0 {padding:0;}
.p5 {padding:5px;}
.p10 {padding:10px;}
.p15 {padding:15px;}
.p20 {padding:20px;}

.m0 {margin:0;}
.m10 {margin: 10px;}
.m10-top {margin-top: 10px}
.m15-top {margin-top: 15px}
.m40-top {margin-top: 40px}

footer {height:200px; padding: 30px 15px 0;}
.footer-nav > ul > li {border-bottom:#efefef 2px dotted; margin-bottom: 5px;}
footer h4 {text-decoration: underline;}
/* Dashboard */

.module {margin-bottom: 25px;}
.module h2 {line-height: 24px;}
.user_score {border:1px solid #000; margin:0 0 25px;}
.score_holder {padding:0 20px; margin:0 5px;}
.details {font-size: .85em;}

/* Authentication Nav */
#authenticate a {display: inline-block; padding: 10px 15px;}

#main, aside, .module-style {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
}

.welcome-arrow {background:url(welcome-up.png) no-repeat 75px 0; height: 400px; position:relative; width: 670px;}
.levels-arrow {background:url(welcome-right.png) no-repeat 510px 0; height: 400px; position:relative; width: 670px;}
#step1 {left: 120px; position: absolute; top: 150px;}
#step2 {right: 10px; position: absolute; top: 90px;}


#article_description {height: 100px;}
#new_article {margin:0;}
form div {margin-bottom: 20px;}
form div .btn-success {width:82%;}

/* Dashboard Tabs */
#user-actions .nav li, #user-actions .nav li a {line-height: 26px; padding:4px 12px;}
#user-actions .nav li.active a {color:#000;}
#user-actions .nav li.active a:hover {background:none;}
/*#user-actions .nav li a:hover {background:none;}*/

/* Topics */
.topic-introduction {height:80px; overflow: hidden;}
.newHeight {height:100%;}
#show-hide {padding: 0 10px 13px; height: 17px; margin: 20px 0 0; width:20px;}
.intro-show {background: url(more.png) no-repeat 7px 3px #BCD3DE;}
.intro-hide {background: url(less.png) no-repeat 7px 3px #BCD3DE;}



/* Home background-color:#F57676;*/
#home-banner {
  background-color:#fff;
  min-height:505px;
  padding: 170px 0;

}

#home-banner-overlay {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  background: url(welcome-up.png) no-repeat 95px top;
  height:550px;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 999;}
#home-banner-overlay:hover {opacity: 1;}

#home-banner h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3.5em;
  font-weight:lighter;
  }

#browse-topics {background-color: #fff;}



