/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

ol.welcome-list {font-weight:bold; margin: 0 0 0 25px;}

.cursive {font-family: 'Courgette',cursive; font-weight: lighter;}
section {background-color: #BCD3DE; padding: 0 0 25px;}


.clear {clear:both;}

.subtopic-intro {
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
}

.content {margin-top: 40px;}

.fyi {background-color:#eee; border:#ccc thin solid; margin-top: 25px; padding: 10px;}


#subtopic-title, #subtopic-footer {border-bottom: 1px solid #DDDDDD; margin: 0 0 10px; padding: 10px;}

.vote-module {}
.vote-button {background: url(vote.png) no-repeat #efefef 0 1px; border: none; border-radius: 50px; height: 50px; width: 50px;}
.vote-button:hover {background-color:#54A9A3; color:#fff;}

.subtopic-content {border-bottom:#efefef thin solid; padding: 15px;}
.subtopic-content p {font-style: italic;}

.subtopic-description {width: 565px;}

#subtopic-aside {  }
#subtopic-aside > ul {list-style-type: none; margin-bottom: 20px;}
#subtopic-aside > ul li {border-bottom: thin dotted #ccc;}
#subtopic-aside > ul li:nth-last-child(1) {border-bottom: none;}
#subtopic-aside > ul li a {display: block; padding: 5px; transition: background-color 150ms ease 0s;}
#subtopic-aside > ul li:hover a {background-color: #eee;}

.radius {border-radius: 3px; -webkit-border-radius: 3px;}


.p0 {padding:0;}
.p5 {padding:5px;}
.p10 {padding:10px;}
.p15 {padding:15px;}
.p20 {padding:20px;}

.m0 {margin:0;}
.m10 {margin: 10px;}
.m10-top {margin-top: 10px}
.m15-top {margin-top: 15px}
.m40-top {margin-top: 40px}

footer {height:200px; padding: 30px 15px 0;}
.footer-nav > ul > li {border-bottom:#efefef 2px dotted; margin-bottom: 5px;}
footer h4 {text-decoration: underline;}
/* Dashboard */

.module {margin-bottom: 25px;}
.module h2 {line-height: 24px;}
.user_score {border:1px solid #000; margin:0 0 25px;}
.score_holder {padding:0 20px; margin:0 5px;}
.details {font-size: 12px;}

/* Authentication Nav */
#authenticate a {display: inline-block; padding: 10px 15px;}

#main, aside {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
}

#article_description {height: 150px;}

