<section>
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>New Category</h1>
      </div>

      <div class="span7">

      <%= form_tag(categories_url, method: 'post') do %>
        <div>
          <%= label_tag :title %><br />
          <%= text_field_tag :title %>
        </div>


        <div>
          <%= submit_tag "Create Category", class: "btn btn-success" %>
        </div>
      <% end %>

    </div><!--end column -->

    <div class="span5">
    </div>

    </div>
  </div>
</section>
